/* The Base Grey Color: Every element with the class .skeleton becomes a grey box */
.skeleton  {

    background-color: #e0e0e0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

/* ::after creates a virtual element that sits on top of the grey box */
.skeleton::after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* Move it completely to the left initially */
    transform: translateX(-100%);
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255, 0.4),
        transparent
    );
    /* Run the 'shimmer' animation forever */
    animation: shimmer 1.5s infinite;
}
/* The Movement */
/* This animation slides that "glass pane" from the left side (-100%) to the right side infinitely */
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

.skeleton-text {
    height: 16px;
    margin-bottom: 8px;
    width: 80%;
}

.skeleton-title {
    height: 24px;
    margin-bottom: 12px;
    width: 60%;
}

.skeleton-image {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
}

.skeleton-card{
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 0;
    overflow: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.skeleton-content {
    padding: 15px;
}